.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 15px;

    .title {
        h1 {
            font-size: 3rem;
            font-weight: 100;
            color: var(--blue);

            strong {
                color: var(--gray-heavy);
            }
        }
    }

    .testimonials {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        align-items: center;
        justify-content: center;
        gap: 20px;
        //outline: 2px solid red;
        width: 95%;
    }
}

@media(max-width: 399px) {}

@media(min-width: 400px) and (max-width: 639px) {}

@media(min-width: 640px) and (max-width: 914px) {}

@media(min-width: 915px) and (max-width: 1300px) {}