.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 100px 0;


    .sectionContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        text-align: center;

        @media(max-width: 560px) {
            width: 80%;
        }

        .contentContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .title {
                font-size: 1.8rem;
                font-weight: 700;

                strong {
                    color: var(--yellow-Heavy);
                }
            }

            .text {
                font-size: 1.3rem;

                @media(max-width: 560px) {
                    font-size: 1rem;
                }
            }

            .buttonContainer {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}