.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    min-height: 650px;
    width: 100%;
    //padding: 20px;
    position: relative;
    margin-bottom: 200px;
    margin-top: 50px;

    .talentsContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;
        height: 250px;
        margin-top: 100px;
        background-image: url('/img/fundo-azul.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: var(--white);

        .text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            text-align: center;

            h1 {
                margin: 0;
            }
        }
    }

    .titleContainer {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    .articleContainer {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        width: 80%;
        height: 100%;
        min-height: 650px;

        .asideContainer {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 300px;
            min-width: 250px;
            max-width: 700px;
            max-height: 600px;
            overflow-y: auto;
            gap: 10px;
            padding: 10px;
            border-radius: .4rem;
            background-color: var(--gray-soft);
            box-shadow: 5px 5px 5px solid var(--shadow-blue);
            //border-right: 2px solid var(--shadow-blue);

            .jobsContainer {
                border-bottom: 1px solid var(--shadow-blue);
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 8px;
                cursor: pointer;
                padding: 5px;

                h4 {
                    font-size: 1.4rem;
                    line-height: 20px;
                }

                h5 {
                    font-weight: 400;
                }

                p {
                    font-size: 1rem;
                }

                &:hover {
                    transform: scale(1.03);
                }
            }
        }

        .sectionContainer {
            display: flex;
            flex-direction: column;
            //gap: 8px;
            width: 100%;
            max-width: 700px;
            height: 100%;
            min-height: 700px;
            padding: 25px 40px;
            background-color: var(--gray-soft);
            border-radius: 1rem;

            .descriptionContainer {
                margin-top: 20px;

                ul,
                ol {
                    li {
                        list-style-type: disc;
                        margin: 0 20px;
                        cursor: pointer;
                        text-transform: capitalize;
                    }
                }
            }

            .buttonContainer {
                margin-top: 50px;
            }
        }
    }
}

@media(max-width: 768px) {
    .mainContainer {
        .talentsContainer {
            h1 {
                font-size: 1.7rem;
            }
        }

        .articleContainer {
            flex-direction: column;
            width: 100%;
            height: 100%;
            //justify-content: center;
            align-items: center;
            //outline: 2px solid red;
            //padding: 100px 0;

            .asideContainer {
                width: 100%;
                max-height: 300px;
                padding: 20px;
                //margin: 20px;
            }

            .sectionContainer {
                padding: 20px;
            }
        }
    }
}