.container {
    width: 100%;
    height: 100%;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .contentContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 100px;
        width: 90%;
        border-radius: 2rem;
        overflow: hidden;
        background-image: url('/img/fundo-azul.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        //padding: 20px;


        .textContent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 20px;
            color: var(--white);
            width: 100%;
            height: 100%;
            padding-left: 100px;
            //outline: 2px solid red;

            h2 {
                font-size: 3rem;
                font-weight: 100;
            }

            p {
                width: 70%;
                text-align: justify;
            }
        }

        .imgContent {
            //outline: 2px solid red;
            width: 100%;
            text-align: center;
            max-height: 500px;

            img {
                object-fit: cover;
                object-position: center;
                height: 500px;
            }
        }
    }
}

@media(max-width: 399px) {
    .container {
        .contentContainer {
            flex-direction: column;

            .textContent {
                padding-bottom: 100px;
                padding-left: 50px;
                padding-right: 20px;
            }

            .imgContent {
                display: none;
                max-height: 300px;

                img {
                    height: 300px;
                }
            }
        }
    }
}

@media(min-width: 400px) and (max-width: 639px) {
    .container {
        .contentContainer {
            flex-direction: column;

            .textContent {
                padding-bottom: 100px;
                padding-left: 50px;
                padding-right: 20px;
            }

            .imgContent {
                display: none;
                max-height: 300px;

                img {
                    height: 300px;
                }
            }
        }
    }
}

@media(min-width: 640px) and (max-width: 914px) {
    .container {
        .contentContainer {
            flex-direction: column;

            .textContent {}

            .imgContent {
                max-height: 300px;

                img {
                    height: 300px;
                }
            }
        }
    }
}

@media(min-width: 915px) and (max-width: 1300px) {}