.container {
    width: 100%;
    height: 100%;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .contentContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 100px;
        width: 90%;
        min-height: 600px;
        border-radius: 2rem;
        overflow: hidden;
        background-image: url('/img/fundo-azul.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px;



        .textContent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 20px;
            color: var(--white);
            width: 100%;
            height: 100%;
            padding-left: 100px;
            //outline: 2px solid red;

            h2 {
                font-size: 3rem;
                font-weight: 100;
            }

            p {
                width: 70%;
                text-align: justify;
            }
        }

        .imgContainer {
            width: 100%;

            .imgContent {
                position: relative;
                text-align: center;
                width: 550px;
                height: 500px;
                max-height: 500px;
                //outline: 2px solid red;

                .img1,
                .img2,
                .img3 {
                    position: absolute;
                }

                .img1 {
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }

                .img2 {
                    bottom: 0;
                    left: 0;
                }

                .img3 {
                    bottom: 0;
                    right: 0;
                }
            }
        }
    }
}

@media(max-width: 399px) {
    .container {
        .contentContainer {
            flex-direction: column;

            .textContent {
                padding-bottom: 100px;
                padding-left: 50px;
                padding-right: 20px;
            }

            .imgContainer {
                .imgContent {
                    display: none;
                    max-height: 300px;

                    img {
                        height: 300px;
                    }
                }
            }
        }
    }
}

@media(min-width: 400px) and (max-width: 639px) {
    .container {
        .contentContainer {
            flex-direction: column;

            .textContent {
                padding-bottom: 100px;
                padding-left: 50px;
                padding-right: 20px;
            }

            .imgContainer {
                .imgContent {
                    display: none;
                    max-height: 300px;

                    img {
                        height: 300px;
                    }
                }
            }
        }
    }
}

@media(min-width: 640px) and (max-width: 914px) {
    .container {
        .contentContainer {
            flex-direction: column;

            .textContent {}

            .imgContainer {
                .imgContent {
                    display: none;
                    max-height: 300px;

                    img {
                        height: 300px;
                    }
                }
            }
        }
    }
}

@media(min-width: 915px) and (max-width: 1300px) {}